.App {
  text-align: center;
}

.error-msg {
  background: #9f9f9f;
  color: red;
  font-size: 1rem;
  font-weight: bolder;
  padding: 1.5rem;
  text-align: center;
  width: 20%;
  margin: auto;
  margin-bottom: .5rem;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}
  